body{
    font-family: 'Raleway', sans-serif;
    padding-right: 0;
}

.clearfix::after{
    content:"";
    display: block;
    clear: both;
}
.row{
    margin-right: 0;
}
.mean1{
    width: 100%;
    background-image: url("../img/dd.jpg");
    background-size:cover;
    border-top: 9px solid #5385c1;
    color: #ffffff;
    margin: 0;
}

.na{
    background: none;
    border: none; 
    position: relative;
    top: 50px;
}
.na .ok .done{
    color: #ffffff;
}

.na .ddone ul .li a{
    color: #ffffff;
}

/*banner */

.mean1 .free{
    padding: 200px 0px ;
}

.kk h2{
   font-size: 50px;
}
/*part2*/

.mean2{
    padding: 50px 0px 50px;
}
.all h1{
     font-size: 22px;
     color: #5385c1 ;
     font-weight:700;
     line-height: 25px;
}

.all{
    padding-left: 20px;
}

.all p{
    font-size: 17px;
    color:gray;
    margin-top: 20px;
}

.all button{
    width: 80px;
    height:35px;
    border: 0;
    color: #ffffff;
    background-color:#5385c1;
    font-family: 'Raleway', sans-serif;
    margin-top: 25px;
}

.border{
  border-right:1px solid  #dbdbdb ;
  border-left:1px solid  #dbdbdb ;
}
/*part3*/
.mean3{
    padding: 60px 0px 60px; 
    background-color:#5385c1;
    margin: 0;
}
.full{
    color: #ffffff;
}

.full h2{
    font-size: 40px;
}
.parsan{
    width: 95%;
    margin: 0 auto;
    margin-top: 40px;
    border: 1px solid #7ea4d1;
    padding: 30px 0 40px;
}
.parsan h1{
    font-size: 25px;
    color: #ffffff;
}
.parsan p{
    font-size: 14px;
    color: #ffffff;
}

/*part4*/
.mean4{
    padding: 50px 0px 20px;
    border: 0;
}
.mean4 .Nunc{
    margin-bottom: 20px;
}
.mean4 .Nunc h3{
    color:#5385c1 ;
    font-size: 35px;
}
.mean4 .Nunc p{
    color: #bbbcbd;
    font-size: 18px;
}
.mean4 .div1{
    margin-top: 20px;
}
.mean4 .div1 img{
     width: 100%;
}
.mean4 .div1 h4{
    color:#5385c1 ;
    font-weight: 600;
    font-size: 18px;
    margin:20px 0px 20px;
}
.mean4 .div1 p{
    color:gray ;
    font-weight: 100;
    font-size: 16px;
    margin:20px 0px 20px;
}

.mean4 .div2{
    width:95%;
    margin: 0 auto;
}

.mean4 .div1 button{
    width: 85px;
    height: 35px;
    background-color:#5385c1 ;
    color: #ffffff;
    border: none;
    margin-top: 15px;
    font-family: 'Raleway', sans-serif;
}
/*last*/
.foot{
    font-size: 18px;
    color:#5385c1;
    float: right;
    padding: 0px 30px 0px 0px;
    border: 0;
}

.foot span{
    margin: 0px 5px;
}
hr{
    background-color: grey;
}

@media only screen and (max-width:700px){
    .na{
        position: relative;
        top: 25px;
    }
    .mean1{
     width: 100%;
    }
    .mean1 .navbar-header .navbar-toggle{
        border: 0;
    }
    .mean1 .navbar-header .navbar-toggle .icon-bar{
       background:#ffffff;
    }
    .mean1 .navbar-header .navbar-toggle:hover{
        background: none;
        cursor: pointer;
    }
    .mean1 .free{
        padding: 80px 40px ;
    }
    .kk .to{
          font-size:40px;
          margin:70px 0px 20px 0px;
    }
    .border{
        border: 0;
    }
    .mean2 .all{
        margin-left: 20px;
        text-align: center;
        border-bottom:1px solid #dbdbdb ;
    }
    .mean2 .all h1{
        font-size: 20px;
    }
    .mean2 .all p{
        font-size: 16px; 
    }
    .mean2 .all button{
        margin:10px 0px 25px;
    }
    .full h2{
        font-size:35px;
    }
    .mean4 .Nunc h3{
        font-size:35px;
    }
    .mean4 .div1{
        border-bottom:1px solid #dbdbdb ;
        padding:10px 20px 25px;
    }
    .div1 .div2{
        padding-left: 10px;
    }
    .vim{
        padding-left: 10px;
        padding-top: 15px;
        padding-bottom: 0;
    }
    .mean4 .vim p{
        font-size:10px;
        font-weight: 100;
        padding-left: 11px;
    }
    .foot{
        margin: 0;
        padding-top: 15px;
        padding-bottom: 0;
    }
    .mean4 hr{
        margin:0;
    }
    .mean4{
        padding-bottom: 20px;
    }
    .mean4 .div2{
        width:100%;
        padding-left: 35px;
    }
    .mean4 .div2 img{
        width: 100%;
    }
    .mean4 .div2 button{
        width: 80px;
        height: 35px;
        font-weight: 500;
    }
    .mean4 .div2 p{
        font-size: 14px;
    }
    .mean2 .all button{
        width: 90px;
        height: 40px;
        font-weight: 500;
    }
}